.contenedor {
    display: flex;
    background-color: #fff3e0;
    padding: 20px;
    gap: 10px;
}

.item {
    background-color: #fb8c00;
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 8px;
}

.a { order: 2; }
.b { order: 3; }
.c { order: 1; }
