.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #f3e5f5;
    padding: 30px;
    min-height: 300px;
}

.caja {
    background-color: #7b1fa2;
    color: white;
    padding: 30px 50px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
