.contenedor {
    display: flex;
    align-items: center;
    background-color: #c8e6c9;
    height: 200px;
}

.caja {
    background-color: #1565c0;
    color: white;
    padding: 15px;
    margin: 5px;
    width: 60px;
}

.alto {
    height: 100px;
}
